In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data/vehicles.csv.zip')
city_mpg=df.city08
city_mpg

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11456\1905880014.py:1: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('data/vehicles.csv.zip')

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

## Interpolating Data

In [3]:
temp=pd.Series([32,40,None,42,39,32])
temp

0    32.0
1    40.0
2     NaN
3    42.0
4    39.0
5    32.0
dtype: float64

In [4]:
temp.interpolate()

0    32.0
1    40.0
2    41.0
3    42.0
4    39.0
5    32.0
dtype: float64

# Clipping Data

In [5]:
city_mpg.loc[:446]

0      19
1       9
2      23
3      10
4      17
       ..
442    15
443    15
444    15
445    15
446    31
Name: city08, Length: 447, dtype: int64

In [6]:
city_mpg.loc[:446].clip(lower=city_mpg.quantile(.05),upper=city_mpg.quantile(.95))
# values between the 5th (11.0) and 95th quantile(27)

0      19.0
1      11.0
2      23.0
3      11.0
4      17.0
       ...
442    15.0
443    15.0
444    15.0
445    15.0
446    27.0
Name: city08, Length: 447, dtype: float64

# Sorting Values

In [7]:
city_mpg.sort_values()

7901       6
34557      6
37161      6
21060      6
35887      6
        ...
34563    138
34564    140
32599    150
31256    150
33423    150
Name: city08, Length: 41144, dtype: int64

In [8]:
city_mpg.sort_index(ascending=False)

41143    16
41142    18
41141    18
41140    20
41139    19
         ..
4        17
3        10
2        23
1         9
0        19
Name: city08, Length: 41144, dtype: int64

# Dropping Duplicates

In [9]:
city_mpg.drop_duplicates()

0         19
1          9
2         23
3         10
4         17
        ...
34364    127
34409    114
34564    140
34565    115
34566    104
Name: city08, Length: 105, dtype: int64

# Ranking Data

In [10]:
s=pd.Series([40,20,30,20,10])
s

0    40
1    20
2    30
3    20
4    10
dtype: int64

In [11]:
s.rank(method='min')

0    5.0
1    2.0
2    4.0
3    2.0
4    1.0
dtype: float64

In [12]:
s.rank(method='max')

0    5.0
1    3.0
2    4.0
3    3.0
4    1.0
dtype: float64

In [13]:
s.rank(method='dense')

0    4.0
1    2.0
2    3.0
3    2.0
4    1.0
dtype: float64

In [14]:
make=df.make
make.replace('Subaru','ဆုဘာရု')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            ဆုဘာရု
            ...
41139        ဆုဘာရု
41140        ဆုဘာရု
41141        ဆုဘာရု
41142        ဆုဘာရု
41143        ဆုဘာရု
Name: make, Length: 41144, dtype: object

In [15]:
s

0    40
1    20
2    30
3    20
4    10
dtype: int64

In [16]:
s.replace(to_replace={40:45,10:100})

0     45
1     20
2     30
3     20
4    100
dtype: int64