In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('data/vehicles.csv.zip')
city_mpg=df.city08
city_mpg

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7376\1905880014.py:1: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('data/vehicles.csv.zip')

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [4]:
city_mpg.convert_dtypes()
# convert int64 to Int64

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: Int64

In [5]:
# astype method
city_mpg.astype('Int16')

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: Int16

In [6]:
city_mpg.nbytes

329152

In [7]:
city_mpg.astype('Int64').nbytes

370296

In [8]:
city_mpg.astype('Int16').nbytes

123432

In [9]:
# ကိုယ့်ရဲ့ data တွေကို str သို့မဟုတ် category data ကိုလဲပြောင်းလို့ရတယ်။

In [10]:
# converting to data frame
city_mpg.to_frame()

       city08
0          19
1           9
2          23
3          10
4          17
...       ...
41139      19
41140      20
41141      18
41142      18
41143      16

[41144 rows x 1 columns]

In [12]:
# convert series to numpy 
city_mpg.values

array([19,  9, 23, ..., 18, 18, 16], dtype=int64)