In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data/vehicles.csv.zip')
city_mpg=df.city08
city_mpg

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_5744\1905880014.py:1: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('data/vehicles.csv.zip')

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

# apply and where

In [3]:
def gt20(val):
    return val>20

In [4]:
%%timeit
city_mpg.apply(gt20)

8.57 ms ± 1.09 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [5]:
%%timeit
city_mpg.gt(20)

115 µs ± 9.69 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

### values_count

In [6]:
make=df.make
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [7]:
make.value_counts()

Chevrolet                      4003
Ford                           3371
Dodge                          2583
GMC                            2494
Toyota                         2071
                               ...
Volga Associated Automobile       1
Panos                             1
Mahindra                          1
Excalibur Autos                   1
London Coach Co Inc               1
Name: make, Length: 136, dtype: int64

In [8]:
top5=make.value_counts().index[:5]
top5

Index(['Chevrolet', 'Ford', 'Dodge', 'GMC', 'Toyota'], dtype='object')

In [9]:
# The first five entries in the index are the values I want to keep, everything I want to replace with Other.
def generalize_top5(val):
    if val in top5:
        return val
    else:
        return 'other'

In [10]:
make.apply(generalize_top5)

0        other
1        other
2        Dodge
3        Dodge
4        other
         ...
41139    other
41140    other
41141    other
41142    other
41143    other
Name: make, Length: 41144, dtype: object

In [11]:
# where က np နဲ့ဆင်တယ်
make.where(make.isin(top5),other='Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

###### shit tab and tab

In [12]:
%%timeit
make.where(make.isin(top5),other='Other')

3.32 ms ± 363 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [13]:
%%timeit
make.apply(generalize_top5)

20.8 ms ± 1.98 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [14]:
# opposite situation
make.where(~make.isin(top5),other='Other')

0        Alfa Romeo
1           Ferrari
2             Other
3             Other
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

# If else with pandas

In [15]:
vc=make.value_counts(10)
top5=vc.index[:5]
top10=vc.index[:10]

In [16]:
def generalize(val):
    if val in top5:
        return val
    elif val in top10:
        return 'top 10'
    else:
        return 'Other'

In [17]:
make.apply(generalize)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [18]:
(
    make.where(make.isin(top5),'top10'),
    make.where(make.isin(top10),'Other')
)

(0        top10
 1        top10
 2        Dodge
 3        Dodge
 4        top10
          ...
 41139    top10
 41140    top10
 41141    top10
 41142    top10
 41143    top10
 Name: make, Length: 41144, dtype: object,
 0        Other
 1        Other
 2        Dodge
 3        Dodge
 4        Other
          ...
 41139    Other
 41140    Other
 41141    Other
 41142    Other
 41143    Other
 Name: make, Length: 41144, dtype: object)

### Numpy Method

In [19]:
import numpy as np
np.select([make.isin(top5),make.isin(top10)],[make,'Top10'],'Other')

array(['Other', 'Other', 'Dodge', ..., 'Other', 'Other', 'Other'],
      dtype=object)

In [20]:
pd.Series(np.select([make.isin(top5),make.isin(top10)],[make,'Top10'],'Other'))

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Length: 41144, dtype: object

# Missing Data

In [21]:
cyl=df.cylinders
cyl.head()

0     4.0
1    12.0
2     4.0
3     8.0
4     4.0
Name: cylinders, dtype: float64

In [22]:
cyl.isna()

0        False
1        False
2        False
3        False
4        False
         ...
41139    False
41140    False
41141    False
41142    False
41143    False
Name: cylinders, Length: 41144, dtype: bool

In [23]:
cyl.isna().sum()

206

In [24]:
cyl.isna().value_counts()

False    40938
True       206
Name: cylinders, dtype: int64

In [25]:
missing=cyl.isna()
make.loc[missing]
# Na ဖြစ်နေတဲ့ ဟာတွေကို တခြား column နဲ့ mask လုပ်ပြီးကြည့်ခြင်း

7138     Nissan
7139     Toyota
8143     Toyota
8144       Ford
8146       Ford
          ...
34563     Tesla
34564     Tesla
34565     Tesla
34566     Tesla
34567     Tesla
Name: make, Length: 206, dtype: object

In [26]:
cyl.fillna(0)

0         4.0
1        12.0
2         4.0
3         8.0
4         4.0
         ...
41139     4.0
41140     4.0
41141     4.0
41142     4.0
41143     4.0
Name: cylinders, Length: 41144, dtype: float64

In [27]:
cyl.fillna(0).loc[7136:7141]

7136    6.0
7137    6.0
7138    0.0
7139    0.0
7140    6.0
7141    6.0
Name: cylinders, dtype: float64